{% extends 'basic_app/base.html' %}
{% load staticfiles %}

{% block body_block %}
	<!-- start banner Area -->
	<section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center">
				<div class="banner-content col-lg-6 col-md-12 justify-content-center ">
					<div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">It's me</div>
					<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Naimur Rahman</h1>
					<div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
						Web
						<span class="developer">Developer</span>
					</div>
					<a href="{% url 'basic_app:hire_me' %}" class="primary-btn" data-text="Hire Me">
						<span>H</span>
						<span>i</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>M</span>
						<span>e</span>
					</a>
				</div>
				<div class="banner-img col-lg-6 col-md-6 align-self-end">
					<img class="img-fluid" src="{% static 'img/naim5.jpg' %}" alt="">
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->



	<!-- Start About Area -->
	<section class="about-area section-gap">
		<div class="container">
			<div class="row align-items-center justify-content-between">
				<div class="col-lg-6 about-left">
					<img class="img-fluid" src="{% static 'img/naim.jpg' %}" alt="">
				</div>
				<div class="col-lg-5 col-md-12 about-right">
					<div class="section-title">
						<h2>about myselt</h2>
					</div>
					<div class="mb-50 wow fadeIn" data-wow-duration=".8s">
						<p>
							Myself Naimur Rahman.I am a profesional web developer with 3 years experience.I am actually a backend developer.I work in python(Django).Django is most popular web framework.And I love to work with Django.
						</p>
						<p>You will have to provide static website or html template I will take that and make that dynamic and connect database and upload your website on a live server.I will take care of your website A-Z.okay.?you feel free to contact me.
						</p>
					</div>
					<a href="{% url 'basic_app:hire_me' %}" class="primary-btn white" data-text="More Info">
						<span>M</span>
						<span>o</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>I</span>
						<span>n</span>
						<span>f</span>
						<span>o</span>
					</a>
					<!-- <a href="#" class="primary-btn" data-text="Resume">
						<span>R</span>
						<span>e</span>
						<span>s</span>
						<span>u</span>
						<span>m</span>
						<span>e</span>
					</a> -->
				</div>
			</div>
		</div>
	</section>
	<!-- End About Area -->


	<!-- Start Work Area Area -->

	<!-- Start Job History Area Area -->
	<section class="job-area section-gap-top section-gap-bottom-90">
		<div class="container">
			<div class="row d-flex">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Job History</h2>
						<p>I am working in web Development for 3 years.I work on Python(Django).I got my job done with Client satisfication.</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-6">
					<div class="single-job">
						<div class="top-sec d-flex justify-content-between">
							<div class="top-left">
								<h4>Web Design</h4>
								<p>I have knowledge in JavaScript,jQuery and BootStrap.But I don't design website,you have to provide template I will make that change as your need.I will do fully customized your website.</p>
							</div>

						</div>

					</div>
				</div>

				<div class="col-lg-6">
					<div class="single-job">
						<div class="top-sec d-flex justify-content-between">
							<div class="top-left">
								<h4>Web Development</h4>

							</div>

						</div>
						<div class="bottom-sec wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
							I am profesional web developer.I do anything of your website in Backend.I will make your website more secured and upload your website on a live server.I am expert in MySql,PostgreSQL and SQLite3.I work in django web framework.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Job Historyt Area Area -->


	<!-- Start Service Area -->
	<section class="service-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="section-title">
						<h2>Service Offers</h2>
						<p>I provide good service offer in web design and development</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s">
						<span class="lnr lnr-screen"></span>
						<h4>
							<span>Web</span> Design
						</h4>
						<p>I will make your website as you need.</p>
					</div>
				</div>

				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
						<span class="lnr lnr-database"></span>
						<h4><span>Web</span> Development
						</h4>
						<p>I will develop your website pretty well</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6">
					<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
						<span class="lnr lnr-chart-bars"></span>
						<h4><span>Web</span> Development
						</h4>
						<p>If you are looking for a backend developer for your website here I am</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Service Area -->


	<!-- Start Testimonials Area -->
	<section class="testimonials_area section-gap">
		<div class="container">
			<div class="testi_slider owl-carousel">

				<div class="item">
					<div class="testi_item">
						<img src="{% static 'img/naim_logo.png' %}" alt="">
						<h4>Web Design</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Need a website?Feel free to contact me.
							</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="testi_item">
						<img src="{% static 'img/naim_logo.png' %}" alt="">
						<h4>Web Development</h4>
						<ul class="list">
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
							<li><a href="#"><i class="fa fa-star"></i></a></li>
						</ul>
						<div class="wow fadeIn" data-wow-duration="1s">
							<p>
								Do you need to develop your website?I will do anything in development section.Contact me.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Testimonials Area -->


	<!-- Start Contact Area -->
	<section class="contact-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-title">
						<h2>Contact Me</h2>
							<p>Do you need a experienced web Developer.Here I am to develop your website and make that faster and secured.I do almost everything on a website.Contact me to solve your problem.</p>
					</div>
				</div>
			</div>

			<div class="row mt-80">
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>+88 01716735440</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>naimurrahman79127@gmail.com</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
							<a href="naimurrahman.pythonanywhere.com"><h4>Naimur Rahman</h4></a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{% url 'basic_app:hire_me' %}" class="primary-btn mt-50" data-text="Hire Me">
						<span>H</span>
						<span>i</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>M</span>
						<span>e</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Area -->


	<!-- start footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer-top flex-column">
						<div class="footer-logo">
							<a href="{% url 'index' %}">
								<img src="{% static 'img/naim_logo.png' %}" alt="">
							</a>
							<h4>Follow Me</h4>
						</div>
						<div class="footer-social">
							<a href="https://www.facebook.com/profile.php?id=100004762008433" target="_blank"><i class="fa fa-facebook"></i></a>
							<a href="https://twitter.com/charlie79127" target="_blank"><i class="fa fa-twitter"></i></a>
							<a href="https://www.linkedin.com/in/naimur-rahman-567713152/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</footer>
	<!-- End footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#">
			<i class="lnr lnr-arrow-up"></i>
		</a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->


{% endblock %}
