{% extends 'basic_app/base.html' %}
 {% load staticfiles %}

	{% block body_block %}
	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Portfolio Details
					</h1>
					<p class="link-nav">
						<span class="box">
							<a href="{% url 'index' %}">Home </a>
							<a href="{% url 'basic_app:portfolio_details' %}">Portfolio Details</a></p>
					</span>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Portfolio Details Area -->
	<section class="portfolio_details_area section-gap">
		<div class="container">
			<div class="portfolio_details_inner">
				<div class="row">
					<div class="col-md-6">
						<div class="left_img">
							<img class="img-fluid" src="{% static 'img/project-details-1.jpg' %}" alt="">
						</div>
					</div>
					<div class="offset-md-1 col-md-5">
						<div class="portfolio_right_text mt-30">
							<h4>Portfolio Section</h4>
							<p>Its my portfolio section.I will keep storing my portfolio when I get free time.</p>
							<ul class="list">
								<li><span>Rating</span>: <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i
									 class="fa fa-star"></i></li>
								<li><span>Website</span>: naimurrahman.pythonanywhere.com</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Portfolio Details Area -->

	<!-- Start Contact Area -->
	<section class="contact-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-title">
						<h2>Contact Me</h2>
						<p>Do you need a experienced web Developer.Here I am to develop your website and make that faster and secured.I do almost everything on a website.Contact me to solve your problem.</p>
					</div>
				</div>
			</div>

			<div class="row mt-80">
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>+88 01716735440</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>naimurrahman79127@gmail.com</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>NaimurRahman.me</h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="{% url 'basic_app:hire_me' %}" class="primary-btn mt-50" data-text="Hire Me">
						<span>H</span>
						<span>i</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>M</span>
						<span>e</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Area -->

	<!-- start footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer-top flex-column">
						<div class="footer-logo">
							<a href="{% url 'index' %}">
								<img src="{% static 'img/naim_logo.png' %}" alt="">
							</a>
							<h4>Follow Me</h4>
						</div>
						<div class="footer-social">
              <a href="https://www.facebook.com/profile.php?id=100004762008433" target="_blank"><i class="fa fa-facebook"></i></a>
              <a href="https://twitter.com/charlie79127" target="_blank"><i class="fa fa-twitter"></i></a>
              <a href="https://www.linkedin.com/in/naimur-rahman-567713152/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#">
			<i class="lnr lnr-arrow-up"></i>
		</a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->

{% endblock %}
